# ── LLM Provider ──────────────────────────────
CUSTOM_API_KEY=
CUSTOM_API_BASE=

# ── QQ Channel ────────────────────────────────
QQ_APP_ID=
QQ_SECRET=
QQ_ALLOW_FROM_1=
QQ_ALLOW_FROM_2=

# ── Telegram Channel ──────────────────────────
TG_TOKEN=
TG_ALLOW_FROM_1=
TG_ALLOW_FROM_2=
